// Grand central station
@import "normalize";
@import "google-homepage";
;


/* Styling */
body {
    background: #ffe7e7;
}

// Stage (parent)
#stage {
    background: url(http://www.publicdomainpictures.net/pictures/80000/nahled/watercolor-paper.jpg) center;
    position: relative;
    overflow: hidden;
}

//child 
#stage svg {
    position: absolute;
    bottom: -20px;
    right: 15px;
}

//child
#stage #Layer_1 {
    bottom: 100px;
    left: 150px;
    max-width: 60%;
}

// Animations go here
#stage #Layer_1 {
    animation: 'google' 4s;
}

//First Frame
@keyframes 'google' {
    0%{
        opacity: 0%;
    }
    
    50%{
        opacity: 50%
    }
    
    100%{
        opacity: 100%;
    }
}

//Last Frame
