// Grand central station
@import "normalize";
@import "google-homepage";
@import url('https://fonts.googleapis.com/css?family=Courgette');


/* Styling */
body {
    background: #e87373;
}

// Stage (parent)
#stage {
    background: url(http://www.publicdomainpictures.net/pictures/80000/nahled/watercolor-paper.jpg) center;
    position: relative;
    overflow: hidden;
}

//child 
#stage svg {
    position: absolute;
    bottom: -20px;
    right: 15px;
}

//child
#stage h1 {
    font-family: 'Courgette', cursive;
    color: white;
    opacity: .2;
    font-size: 5em;
    margin: auto;
    top: 100px;
    left: 180px;
    text-align: center;
    position: absolute;
}

// Animations go here
//First Frame

//Last Frame
